body {
    font-family: Arial;
    background: #f5f8fa;
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
